<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.getFirstName()} + '\'s page'"></title>
</head>
<body>
<div th:replace="header.html"></div>
<h2>ID пользователя</h2>
<p th:text="${user.getId()}"></p>
<h2>Имя:</h2>
<p th:text="${user.getFirstName()}">
<h2>Фамилия:</h2>
<p th:text="${user.getLastName()}">
<h2>Возраст:</h2>
<p th:text="${user.getAge()}">
<h2>Email:</h2>
<p th:text="${user.getEmail()}">
<h2>Роли:</h2>
<p th:each="authority : ${user.getAuthorities()}" th:text="${authority.getAuthority()}">
<div th:if="${hasRole}">
    <a th:href="@{/admin}">
        <button>Admin's page</button>
    </a>
</div>
</body>
</html>